.about_me_content{
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.personal_introduction{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media only screen and (max-width: 399px) {
  .personal_introduction{
    flex-direction: column-reverse;
  }
}

.falling_words{
  height: 30vw;
  border-radius: 5px;
  background-image: url("../assets/images/matrix-bg-400-x-267.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.falling_words::before {
  content: '';
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000080;
  cursor: pointer;
}
.falling_words:hover::before {
  background-color: #00000085;
}
.matrix-char {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary-color);
  position: absolute;
  animation: moveDown 10s linear infinite;
  transform: translateX(-50%);
}

@keyframes moveDown {
  0% {
    opacity: 0;
    text-shadow: 0 -1px 3px #0f0a;
    top: 0;
  }
  10% {
    opacity: 0.8;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    text-shadow: 0 -3px 2px #0f0d;
    top:100%
  }
}
