@keyframes shakeEnergyDischarge {
  0% {
    color: #0f0a;
    box-shadow: 0 0 5px #0f0a;
    transform: rotate(0deg);
  }
  40% {
    color: #0f0c;
    text-shadow: 0 0 2px #0f0;
    box-shadow: 0 0 10px #0f0e;
  }
  43% {
    color: #0f0e;
    text-shadow: 0 0 3px #0f0;
    box-shadow: 0 0 10px #0f0c;
  }
  45% {
    color: #0f0;
    text-shadow: 0 0 4px #0f0;
    box-shadow: 0 0 10px #0f0;
    transform: rotate(0deg);
  }
  48% {
    transform: rotate(3deg);
  }
  49% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  51% {
    transform: rotate(-3deg);
  }
  58% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes horizontalHoverFastCharge {
  0% {
    left: 0%;
  }
  99% {
    left: 99%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes verticalHoverFastCharge {
  0% {
    top: 0%;
  }
  99% {
    top: 99%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes moveDownAndHide {
  0% {
    top: 0%;
  }
  5% {
    top: 50%;
  }
  90% {
    top: 50%;
  }
  95% {
    top: 150%;
  }
  100% {
    top: 150%;
  }
}

@keyframes growLetters {
  0% {
    opacity: 0;
    font-size: 1%;
  }
  5% {
    opacity: 1;
    font-size: 100%;
  }

  95% {
    opacity: 1;
    font-size: 100%;
  }
  100% {
    opacity: 0;
    font-size: 1%;
  }
}

@keyframes stretchingHorizontalSeparator {
  0% {
    width: 100%;
    box-shadow: none;
  }
  49%{
    width: 100%;
    box-shadow: 0 0 5px #0f08;
  }
  50%{
    width: 1%;
    box-shadow: 0 0 5px #0f0;
  }
  51%{
    width: 100%;
  }
  100% {
    width: 100%;
    box-shadow: none;
  }
}

@keyframes completeSpin {
  0% {
    transform: rotate(0deg);

  }
  38% {
    transform: rotate(0deg);
  }
  41% {
    transform: rotate(10deg);    
  }
  44% {
    transform: rotate(-10deg);
  }
  47% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  53% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wordsExplosion {
  0% {
    color: #0f0a;
    transform: rotate(0deg);
  }
  40% {
    color: #0f0c;
    text-shadow: 0 0 2px #0f0;
  }
  43% {
    color: #0f0e;
    text-shadow: 0 0 3px #0f0;
  }
  45% {
    color: #0f0;
    text-shadow: 0 0 4px #0f0;
    transform: rotate(0deg);
  }
  48% {
    transform: rotate(3deg);
  }
  49% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
    letter-spacing: normal;
  }
  51% {
    transform: rotate(-3deg);
    letter-spacing: 20px;
  }
  52%{
    letter-spacing: normal;
  }
  58% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }  
}

@keyframes signalNoise {
  0% {
    text-shadow: 0 0 0 #0f0;
  }
  48% {
    text-shadow: 0 0 0 #0f0;
  }
  49% {
    text-shadow: 0 0 5px #0f0;
  }
  50% {
    text-shadow: 0 0 2px #0f0;
  }
  51% {
    text-shadow: 0 0 10px #0f0;
  }
  52% {
    text-shadow: 0 0 4px #0f0;

  }
  100% {
    text-shadow: 0 0 0 #0f0;
  }
}