#top_menu {
  width: 100%;
  height: var(--top-menu-height);
  
  box-shadow: 0 2px 2px #000;
  background-color: var(--background);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#top_menu .occupied_area {
  padding-top: var(--padding);
  height: 35px;

  box-shadow: none;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

#top_menu .octagon_border {
  width: 30px;
  height: 30px;

  background-color: #0f0a;

  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  display: flex;
  align-items: center;
  justify-content: center;
}

#top_menu .octagon {
  padding-top: 1px;
  padding-left: 1px;
  width: 25px;
  height: 25px;

  font-weight: 900;

  background-color: #18181B;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  display: flex;
  align-items: center;
  justify-content: center;
}

#top_menu .menu.hide,
#top_menu .menu {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px
}

#top_menu .menu>a {
  padding: 6px;
  width: auto;

  border-radius: 6px;

  display: flex;
  justify-content: center;
  gap: 2px;

  position: relative;
  overflow: hidden;
}
#top_menu .menu>a:hover {
  box-shadow: 0 0 5px #0f09;
}
#top_menu .menu>a:hover::after {
  content: "";

  height: 3px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 -4px 4px #0f0;
  animation: verticalHoverFastCharge 0.3s forwards;
}

#top_menu .curriculum {
  margin-left: 3px;
  animation: shakeEnergyDischarge 10s infinite;
}

#top_menu .toggle_menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  #top_menu .menu {
    height: auto;
    padding: 10px;
    flex-direction: column;

    background-color: #18181B;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 3px 3px #000;

    position: absolute;
    top: 100%;
    right: 10px;
  }
  #top_menu .menu.hide{
    display: none;
  }
  #top_menu .menu>a {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    gap: 8px;

    position: relative
  }
  #top_menu .menu>a:hover::after {
    height: 100%;
    width: 3px;

    box-shadow: -4px 0 4px #0f0;
    animation: horizontalHoverFastCharge 0.2s forwards;
  }
  #top_menu .curriculum {
    margin-top: 10px;
  }
  #top_menu .toggle_menu {
    display: block;
  }
}

@media only screen and (max-width: 299px) {
  #top_menu .menu {
    width: calc(100% - 20px);
  }
  #top_menu .menu>a {
    width: 100%;
    min-width: 100px;
  }
  #top_menu .curriculum {
    width: 100%;
  }
  #top_menu .toggle_menu {
    display: block;
  }
}